@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

nav {
  color: white;
  background-color: #202020;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 60%;
  transition: filter 0.3s;
}

.logo img {
  height: 100%;
}

nav ul {
  list-style: none;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  font-size: 20px;
  color: white;
  transition: filter 0.3s;
}

.cart {
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.3s;
}

.cart img {
  height: 100%;
  margin-left: -8.5px;
}

.cart p {
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding-bottom: 12px;
  position: absolute;
  z-index: 1;
}

.overflow p {
  font-size: 20px;
  padding-bottom: 15px;
}

.logo:hover {
  filter: invert(100%) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

nav a:hover, .cart:hover {
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.items {
  font-size: 50px;
  text-align: center;
}