@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    font-family: 'Jost', sans-serif;
    user-select: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

/*text*/

h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

h2, p, a {
    font-size: 20px;
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }
}

h1, h2, p, a {
    transition: color 0.3s;
}

.red {
    color: red;
}

a {
    color: black;
    text-decoration: none;
}

/*button*/

button {
    background-color: white;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.text-button {
    font-size: 13.3px;
    height: 33.3px;
}

@media only screen and (min-width: 350px) {
    .text-button {
        font-size: 16.7px;
        height: 41.7px;
    }
}

@media only screen and (min-width: 450px) {
    .text-button {
        font-size: 20px;
        height: 50px;
    }
}

.img-button {
    width: 35px;
    height: 35px;
}

@media only screen and (min-width: 600px) {
    .img-button {
        width: 40px;
        height: 40px;
    }
}

.img-button img {
    width: 100%;
    display: block;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: end;
}

.buttons div {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}

.buttons.edge div:first-child {
    justify-content: flex-start;
}

.buttons.edge div:last-child {
    justify-content: flex-end;
}

.stacked {
    flex-direction: column;
    gap: 10px;
}

.stacked div {
    flex: 0 1 auto;
}

@media only screen and (min-width: 900px) {
    .stacked {
        flex-direction: row;
    }
    
    .stacked div {
        flex: 1 1 0;
    }    
}

/*counter*/

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count {
    font-size: 25px;
}

/*shadowed box*/

.shadowed {
    box-shadow: 0 0 10px grey;
}

/*input*/

.text-input input, .search-input input {
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.radio-input, .checkbox-input {
    display: flex;
    align-items: center;
}

.radio-input label, .radio-input input {
    cursor: pointer;
}

.radio-input input {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0 10px 0 0;
    border: solid 1px;
    outline: none;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    order: -1;
    appearance: none;
    transition: background-color 0.3s;
}

.radio-input input:checked {
    background-color: black;
}

.checkbox-input input {
    order: -1;
}

.range-input label {
    display: block;
}

.range-input input {
    background-color: red;
}

/*img*/

/* img {
    -webkit-user-drag: none;
} */

.item-img, .detail-img, .cart-img {
    opacity: 0;
    transition: opacity 0.3s;
}

.loaded {
    opacity: 100%;
}

/*navbar and footer*/

nav, .footer {
    color: white;
    background-color: #202020;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

nav img {
    filter: invert(100%);
}

.logo {
    width: 40px;
}

.logo img {
    width: 100%;
    display: block;
    transition: filter 0.3s;
}

nav ul {
    list-style: none;
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    text-align: center;
    flex-grow: 1;
}

nav ul a {
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    transition: all 0.3s;
}

.cart-widget {
    width: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.3s;
}

.cart-widget img {
    width: 100%;
}

.cart-widget p {
    font-size: 25px;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    position: absolute;
    z-index: 1;
}

p.long {
    font-size: 20px;
    padding-bottom: 15px;
}

p.overlong {
    font-size: 14px;
}

.menu {
    width: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown {
    width: 100%;
    height: 332px;
    padding-right: 5%;
    border: solid #202020;
    border-width: 1px 0;
    position: absolute;
    top: 100px;
    justify-content: flex-end;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
}

.dropdown.hidden {
    height: 0;
    border-width: 0;
}

.dropdown ul {
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

.dropdown ul li {
    display: flex;
    align-items: center;
}

.footer {
    position: relative;
    flex-direction: column;
    justify-content: end;
}

.footer p {
    margin-top: 0;
}

.toggle {
    background-color: white;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    align-self: start;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px grey;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle div {
    background-color: white;
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    left: 3px;
    box-shadow: 0 0 10px grey inset;
    transition: left 0.3s;
}

.toggle img {
    width: 30%;
    position: absolute;
}

.sun {
    left: 5px;
    opacity: 0;
}

.moon {
    left: 37px;
}

/*body*/

.welcome, .list-container, .detail-container, .cart, .checkout, .not-found {
    box-sizing: border-box;
    min-height: calc(100% - 200px);
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

/*loading*/

@keyframes loading {
    0% {
        height: 20px;
    }

    50% {
        height: 100px;
    }

    100% {
        height: 20px;
    }
}

.loading {
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.loader div {
    height: 100%;
    width: 0;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    height: 20px;
    animation: 0.6s ease-in-out infinite forwards loading;
}

.loader div:nth-child(2) img, .loader div:nth-child(8) img {
    animation-delay: -0.5s;
}

.loader div:nth-child(3) img, .loader div:nth-child(9) img {
    animation-delay: -0.4s;
}

.loader div:nth-child(4) img, .loader div:nth-child(10) img {
    animation-delay: -0.3s;
}

.loader div:nth-child(5) img, .loader div:nth-child(11) img {
    animation-delay: -0.2s;
}

.loader div:nth-child(6) img, .loader div:nth-child(12) img {
    animation-delay: -0.1s;
}

/*welcome*/

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }
}

.welcome h1 {
    font-size: 70px;
    background-image: linear-gradient(159deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-image: linear-gradient(159deg, rgba(50,38,216,1) 0%, rgba(131,58,180,1) 14%, rgba(253,29,29,1) 50%, rgba(252,180,69,1) 79%, rgba(130,252,69,1) 100%);
    background-image: linear-gradient(90deg, rgba(50,38,216,1) 0%, rgba(124,0,207,1) 11%, rgba(234,0,0,1) 32%, rgba(255,132,0,1) 47%, rgba(239,229,0,1) 57%, rgba(85,255,0,1) 68%, rgba(0,255,229,1) 82%, rgba(50,38,216,1) 100%);
    background-size: 1000%;
    background-repeat: repeat-x;
    background-clip: text;
    color: transparent;
    animation: 30s infinite forwards gradient;
}

.welcome div {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.welcome h2 {
    font-size: 50px;
}

.welcome img {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 75px;
    opacity: 0;
    transition: all 1s;
}

@media only screen and (min-width: 900px) {
    .welcome h1 {
        font-size: 100px;
    }
}

/*list and detail container*/

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.square {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.item h2, .item p {
    font-size: 16.7px;
    text-align: center;
    height: 25%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.item h2 {
    line-height: 100%;
}

.item-img {
    height: 45%;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detail > div:first-child {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-img {
    width: 80%;
    margin-bottom: 30px;
}

.detail > div > p {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-description {
    font-size: 13.3px;
    width: 90%;
    height: 30%;
}

.detail-price {
    font-size: 20px;
    height: 20%;
}

.detail-container .counter {
    width: 60%;
    height: 20%;
}

.counter-text {
    font-size: 13.3px;
    height: 20%;
}

.detail-container .buttons {
    height: 16.7%;
}

@media only screen and (min-width: 350px) {
    .square {
        width: 250px;
        height: 250px;
    }

    .item h2, .item p {
        font-size: 20.8px;
    }

    .detail-description, .counter-text {
        font-size: 16.7px;
    }

    .detail-price {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .square {
        width: 300px;
        height: 300px;
        margin: 20px;
    }

    .item h2, .item p {
        font-size: 25px;
    }

    .detail-description, .counter-text {
        font-size: 20px;
    }

    .detail-price {
        font-size: 30px;
    }
}

@media only screen and (min-width: 900px) {
    .detail {
        flex-direction: row;
    }

    .detail-img {
        margin: 0;
    }
}

/*slide*/

.slide {
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    position: fixed;
    left: 10px;
    display: flex;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
}

.slide img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: rotate 0.3s;
}

.slide.hidden {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search {
    width: 360px;
    top: 110px;
    padding: 0 0 0 10px;
    align-items: center;
}

.search input {
    background-color: transparent;
    width: 300px;
    margin-left: 10px;
}

.filter {
    width: 200px;
    height: 350px;
    padding: 10px;
    top: 170px;
    flex-direction: column;
}

.filter h2, .filter label {
    text-wrap: nowrap;
}

/*cart*/

.cart-item {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10%;
    margin-bottom: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item > a {
    width: 20%;
}

.cart-img {
    width: 100%;
}

.cart-item > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-name {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.cart-item div .cart-price {
    text-align: center;
    width: 100%;
    display: none;
}

.cart-item .counter {
    width: 70%;
    height: 50px;
}

.cart-item > .cart-price {
    text-align: end;
    width: 10%;
}

@media only screen and (min-width: 900px) {
    .cart-item > a {
        width: 10%;
    }

    .cart-item > div {
        width: 78%;
        flex-direction: row;
    }

    .cart-name {
        width: 38.5%;
        height: auto;
    }

    .cart-item div .cart-price {
        width: 15.4%;
    }

    .cart-item .counter {
        width: 46.2%;
    }    

    .cart-item > .cart-price {
        width: 12%;
    }
}

.total {
    box-sizing: border-box;
    font-size: 30px;
    text-align: end;
    width: 100%;
    padding-right: 10%;
}

/*checkout*/

.checkout form {
    box-sizing: border-box;
    width: 60%;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout form > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout form div div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout label {
    font-size: 20px;
    margin-bottom: 10px;
}

.checkout input {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    transition: all 0.3s;
}

@media only screen and (min-width: 900px) {
    .checkout form > div {
        flex-direction: row;
        justify-content: space-between;
    }

    .checkout form div div {
        width: 48%;
    }
}

/*hover, click and active*/

.logo img:hover {
    filter: invert(0%) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

nav ul li:hover a, .cart-widget:hover {
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.menu:hover {
    filter: invert(100%) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

nav ul li:hover a, nav ul a.active {
    font-size: 30px;
}

.clockwise {
    rotate: 90deg;
}

.counterclockwise {
    rotate: -90deg;
}

.welcome div:hover img {
    left: 100px;
    opacity: 100%;
}

.item:hover {
    width: 240px;
    height: 240px;
    margin: 0;
}

.item:hover h2, .item:hover p {
    font-size: 20px;
}

@media only screen and (min-width: 350px) {
    .item:hover {
        width: 300px;
        height: 300px;
        margin: -5px 0;
    }
    
    .item:hover h2, .item:hover p {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .item:hover {
        width: 360px;
        height: 360px;
        margin: -10px;
    }
    
    .item:hover h2, .item:hover p {
        font-size: 30px;
    }
}

.cart-item .cart-name:hover, .cart-item a:hover + div .cart-name {
    font-size: 25px;
}

.text-button:hover {
    font-size: 16px;
}

@media only screen and (min-width: 350px) {
    .text-button:hover {
        font-size: 20px;
    }
}

@media only screen and (min-width: 450px) {
    .text-button:hover {
        font-size: 24px;
    }
}

.img-button:hover {
    width: 40px;
    height: 40px;
    margin: -2.5px;
}

@media only screen and (min-width: 600px) {
    .img-button:hover {
        width: 50px;
        height: 50px;
        margin: -5px;
    }
}

.checkout input:focus, .checkout input:hover {
    width: 100%;
}

/*dark*/

.toggle.dark {
    background-color: black;
}

.toggle.dark div {
    left: 32px;
}

.toggle.dark .sun {
    opacity: 100%;
    transition: opacity 1s;
}

.toggle.dark .moon {
    opacity: 0;
}

.toggle:not(.dark) .moon {
    transition: opacity 1s;
}

nav.dark, .footer.dark {
    background-color: black;
}

nav:not(.dropdown).dark {
    background-image: linear-gradient(180deg, #202020 0%, black 100%);
}

.footer.dark {
    background-image: linear-gradient(0deg, #202020 0%, black 100%);
}

.welcome.dark, .list-container.dark, .detail-container.dark, .cart.dark, .checkout.dark, .not-found.dark {
    color: white;
    background-color: black;
}

.dark button, button.dark {
    color: white;
    background-color: black;
}

.dark img {
    filter: invert(100%);
}

.list-container.dark .item, .dark .search input, .cart.dark a {
    color: white;
}

.dark .square {
    background-image: radial-gradient(#202020 0, black 100%);
}

.dark .shadowed, .dark.shadowed {
    box-shadow: 0 0 7px white inset;
}

.dark .slide, .dark .text-input input {
    color: white;
    background-color: black;
}

.dark .radio-input input {
    border-color: white;
}

.dark .radio-input input:checked {
    background-color: white;
}