@font-face {
    font-family: 'Jost';
    src: url('/assets/Jost-Regular.ttf');
}

* {
    font-family: 'Jost', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    --animation-time: 0.3s;
    --welcome-animation-time: 0.8s;
}

.overscroll {
    background-color: white;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color var(--animation-time);
}

/*text*/

h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 25px;
}

p, a {
    font-size: 20px;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

h1, h2, p, a {
    transition: color var(--animation-time), font-size var(--animation-time);
}

.red-text {
    color: red;
}

.gradient-text {
    background-image: linear-gradient(to right, cyan 0, magenta 100%);
    background-clip: text;
}

a {
    color: black;
    text-decoration: none;
}

.loaded {
    opacity: 1 !important;
}

ul {
    list-style: none;
}

/*button*/

button {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all var(--animation-time);
}

.text-button {
    font-size: 12px;
    height: 33.3px;
    padding: 0 10px;

}

.img-button {
    width: 24px;
    height: 24px;
    padding: 25%;
}

@media only screen and (min-width: 350px) {
    .text-button {
        font-size: 15px;
        height: 41.7px;
    }

    .img-button {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 450px) {
    .text-button {
        font-size: 18px;
        height: 50px;
    }

    .img-button {
        width: 36px;
        height: 36px;
    }
}

@media only screen and (min-width: 600px) {
    .img-button, .title .img-button {
        width: 40px !important;
        height: 40px !important;
    }
}

.img-button svg,
.img-button img {
    width: 100%;
    height: 100%;
    display: block;
}

.img-button svg path {
    stroke-width: 20px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
}

.buttons div {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edge div:first-child {
    justify-content: flex-start;
}

.edge div:last-child {
    justify-content: flex-end;
}

.stacked {
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.stacked div {
    flex: 0 1 auto;
}

.buttons div:only-child {
    justify-content: center;
    align-self: center;
}

@media only screen and (min-width: 900px) {
    .stacked {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    
    .stacked div {
        flex: 1 1 0;
    }    
}

/*counter*/

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count {
    text-align: center;
    font-size: 16.7px;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 350px) {
    .count {
        font-size: 20.8px;
    }
}

@media only screen and (min-width: 450px) {
    .count {
        font-size: 25px;
    }
}

/*shadowed box*/

.shadowed {
    box-shadow: 0 0 10px grey;
}

/*input*/

.select-input {
    height: auto;
}

.text-input input,
.search-input input,
.select > div {
    background-color: transparent;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.text-input input::placeholder,
.search-input input::placeholder {
    color: grey;
    transition: color 0.2s;
}

.select .placeholder {
    color: transparent;
    justify-content: center !important;
    transition: color 0.2s;
}

.select .placeholder.visible {
    color: grey;
}

.select .placeholder::after {
    display: none;
}

.select {
    width: 100%;
    position: relative;
}

.select > div {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.select ul {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 10px 0 0;
    border-radius: 25px;
    position: absolute;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: background-color var(--animation-time);
}

.select li {
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.select p {
    margin: 0;
}

.radio-input,
.checkbox-input {
    display: flex;
    align-items: center;
}

.radio-input label,
.radio-input input {
    cursor: pointer;
}

.radio-input input,
.checkbox-input input {
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0 10px 0 0;
    border-radius: 50%;
    outline: none;
    flex: 0 0 auto;
    order: -1;
    box-shadow: 0 0 5px grey;
    appearance: none;
    transition: background-color var(--animation-time);
}

.checkbox-input input {
    border-radius: 3px;
}

.radio-input input:checked,
.checkbox-input input:checked {
    background-color: black;
}

.range-input label {
    display: block;
}

.range-input input {
    background-color: transparent;
    height: 10px;
    border-radius: 5px;
    outline: none;
    appearance: none;
}

#low-bound {
    box-shadow: 0 0 5px grey;
}

::-webkit-slider-thumb {
    background-color: white;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    box-shadow: 0 0 5px grey;
    appearance: none;
    transition: background-color var(--animation-time);
}

::-moz-range-thumb {
    background-color: white;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    box-shadow: 0 0 5px grey;
    appearance: none;
    transition: background-color var(--animation-time);
}

/*img*/

.item-img,
.detail-img,
.cart-img,
.flag {
    opacity: 0;
    transition: opacity var(--animation-time);
}

/*svg*/

@keyframes flip {
    50% {
        transform: rotateX(90deg);
    }
}

@keyframes unflip {
    50% {
        transform: rotateX(90deg);
    }
}

@keyframes show {
    0% {
        display: none;
    }

    50% {
        display: none;
    }

    100% {
        display: block;
    }
}

@keyframes hide {
    0% {
        display: block;
    }

    50% {
        display: none;
    }

    100% {
        display: none;
    }
}

svg, .toggle-svg {
    width: 40px;
    height: 40px;
}

path {
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.green-path {
    stroke: green;
}

path:not(.fill-path, .gradient-path, .green-path) {
    stroke: black;
    transition: stroke var(--animation-time);
}

.fill-path:not(.gradient-path) {
    fill: black;
    transition: fill var(--animation-time);
}

path:not(.fill-path) {
    fill: none;
}

.fill-path {
    stroke: none;
}

svg stop {
    transition: stop-color var(--animation-time);
}

.toggle-svg div {
    width: 100%;
    height: 100%;
    position: relative;
}

.toggle-svg.flipped div {
    animation: flip var(--animation-time);
}

.toggle-svg.unflipped div {
    animation: unflip var(--animation-time);
}

.toggle-svg svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.toggle-svg.flipped svg:first-child {
    animation: hide linear forwards var(--animation-time);
}

.toggle-svg.unflipped svg:first-child {
    animation: show linear forwards var(--animation-time);
}

.toggle-svg svg:last-child {
    display: none;
}

.toggle-svg.flipped svg:last-child {
    display: block;
    animation: show linear forwards var(--animation-time);
}

.toggle-svg.unflipped svg:last-child {
    animation: hide linear forwards var(--animation-time);
}

/*square*/

.square {
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all var(--animation-time);
}

.square p,
.square h2 {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    opacity: 0;
}

.item h2,
.item p,
.cart-item h2 {
    font-size: 16.7px;
    height: 25%;
    transition: all var(--animation-time);
}

.item h2 {
    line-height: 100%;
}

.item-img {
    height: 45%;
}

.detail-description {
    font-size: 13.3px;
    width: 90%;
    height: 30%;
}

.detail-price {
    font-size: 20px;
    height: 20%;
}

.detail-container .counter {
    width: 60%;
    height: 20%;
}

.counter-text {
    font-size: 13.3px;
    height: 20%;
}

.detail-container .buttons {
    height: 16.7%;
}

.center {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.square .cart-img {
    height: 100%;
}

.cart-price {
    font-size: 16.7px;
    width: 45%;
}

.cart-item.square .counter {
    width: 80%;
    height: 25%;
}

.alert {
    background-color: white;
    margin: 0 !important;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: grow var(--animation-time);
}

.unmount .alert {
    animation: shrink var(--animation-time);
}

.alert h2 {
    font-size: 16.7px;
    height: 30%;
}

.alert p {
    font-size: 13.3px;
    padding-bottom: 40px;
}

.alert .buttons {
    height: 16.7%;
}

@media only screen and (min-width: 350px) {
    .square {
        width: 250px;
        height: 250px;
    }

    .item h2,
    .item p,
    .cart-item h2,
    .cart-price,
    .alert h2 {
        font-size: 20.8px;
    }

    .detail-description,
    .counter-text,
    .alert p {
        font-size: 16.7px;
    }

    .detail-price {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .square {
        width: 300px;
        height: 300px;
        margin: 20px;
    }

    .item h2,
    .item p,
    .cart-item h2,
    .cart-price,
    .alert h2 {
        font-size: 25px;
    }

    .detail-description,
    .counter-text,
    .alert p {
        font-size: 20px;
    }

    .detail-price {
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .detail .square {
        width: 350px;
        height: 350px;
    }
}

/*slide*/

.slide {
    background-color: inherit;
    box-sizing: content-box !important;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 25px;
    position: fixed;
    left: 2%;
    z-index: 2;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: width var(--animation-time), height var(--animation-time), padding var(--animation-time);
}

.slide * {
    flex-shrink: 0;
}

.slide .toggle-svg {
    width: 30px !important;
    height: 30px;
    cursor: pointer;
}

.slide path {
    stroke-width: 13px;
}

.search {
    top: 110px;
    padding: 0 10px;
    align-items: center;
}

.search.hidden {
    padding: 10px;
}

.search .search-input {
    width: 300px;
    margin-left: 10px;
}

.filter {
    top: 170px;
    flex-direction: column;
}

.filter > div {
    width: 200px;
}

.filter h2,
.filter label {
    text-wrap: nowrap;
}

.filter .range-input div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#low-bound,
#high-bound {
    width: 80%;
    position: absolute;
}

#high-bound {
    z-index: 1;
}

.recap {
    top: 110px;
    flex-direction: column;
}

.recap-item {
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.recap-total {
    font-size: 20px !important;
    text-align: end;
    width: 270px;
    border-top: 1px solid black;
    transition: border-color var(--animation-time);
}

.recap p {
    font-size: 15px;
    margin-bottom: 0;
}

/*navbar and footer*/

nav, .footer {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
}

nav {
    position: fixed;
}

.logo {
    width: 40px;
    margin-bottom: 6px;
}

.logo svg {
    height: auto;
    display: block;
    transition: filter var(--animation-time);
}

nav ul {
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    text-align: center;
    flex-grow: 1;
}

nav li a {
    display: block;
    width: 100%;
}

nav li span {
    font-size: 20px;
    transition: all var(--animation-time);
}

.cart-widget {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    transition: filter var(--animation-time);
}

.cart-widget > * {
    position: absolute;
}

.cart-widget svg {
    width: 40px;
    height: 40px;
}

#arrow {
    width: 20px;
    height: 20px;
    top: 55%;
    left: 40%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0;
    transition: all var(--animation-time);
}

#arrow path {
    stroke-width: 20px;
}

.cart-widget p {
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0;
    top: 7px;
    z-index: -1;
    transition: all var(--animation-time);
}

p.long {
    font-size: 18px;
    top: 9px;
}

p.overlong {
    font-size: 14px;
    top: 12px;
}

.menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dropdown {
    width: 100%;
    height: 332px;
    padding-right: 5%;
    border: solid black;
    border-width: 1px 0;
    top: 100px;
    z-index: 3;
    justify-content: flex-end;
    overflow: hidden;
    transition: all var(--animation-time);
}

.dropdown.hidden {
    height: 0;
    border-width: 0;
}

.dropdown ul {
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown ul li {
    display: flex;
    align-items: center;
}

.footer {
    background-color: white;
    padding-bottom: 20px;
    position: relative;
    justify-content: space-between;
    align-items: end;
    transition: background-color var(--animation-time);
}

.footer p {
    font-size: 13.3px;
    margin: 0;
}

@media only screen and (min-width: 350px) {
    .footer p {
        font-size: 16.7px;
    }
}

@media only screen and (min-width: 450px) {
    .footer p {
        font-size: 20px;
    }
}

.theme-toggle {
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px grey inset;
    cursor: pointer;
    transition: background-color var(--animation-time);
}

.theme-toggle div {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    box-shadow: 0 0 5px grey;
    transition: left var(--animation-time);
}

.theme-toggle img {
    width: 30%;
    position: absolute;
}

.sun {
    left: 37px;
}

.moon {
    left: 5px;
    opacity: 0;
}

#clock {
    width: 60px;
    height: 60px;
}

#thick-line {
    stroke-width: 5px;
}

#thin-line {
    stroke-width: 2px;
}

#hours-hand {
    stroke-width: 5px;
}

#minutes-hand {
    stroke-width: 2px;
}

#seconds-hand {
    stroke-width: 1px;
}

#clock circle {
    fill: white;
    transition: fill var(--animation-time)
}

/*body*/

.body {
    background-color: white;
    box-sizing: border-box;
    min-height: calc(100% - 100px);
    padding: 150px 5% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color var(--animation-time);
}

/*loading*/

@keyframes loading {
    50% {
        height: 100px;
        width: 100px;
    }
}

.loading {
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.loader div {
    height: 100%;
    width: 0;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    animation: loading ease-in-out infinite forwards 0.6s;
}

.loader div:nth-child(2) svg,
.loader div:nth-child(8) svg {
    animation-delay: -0.5s;
}

.loader div:nth-child(3) svg,
.loader div:nth-child(9) svg {
    animation-delay: -0.4s;
}

.loader div:nth-child(4) svg,
.loader div:nth-child(10) svg {
    animation-delay: -0.3s;
}

.loader div:nth-child(5) svg,
.loader div:nth-child(11) svg {
    animation-delay: -0.2s;
}

.loader div:nth-child(6) svg,
.loader div:nth-child(12) svg {
    animation-delay: -0.1s;
}

/*welcome*/

@keyframes welcome-h1 {
    from {
        color: black;
    }

    to {
        color: transparent;
    }
}

@keyframes welcome-svg {
    from {
        right: -56px;
        opacity: 0;
    }

    to {
        right: -70px;
        opacity: 1;
    }
}

@keyframes welcome-path {
    from {
        stroke: black;
    }

    to {
        stroke: magenta;
    }
}

.welcome div {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.welcome h1 {
    font-size: 70px;
}

.welcome svg {
    width: 84px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -56px;
    opacity: 0;
    transition: all var(--welcome-animation-time);
}

.welcome path {
    stroke-width: 20px;
    transition: stroke var(--animation-time);
}

.touch .welcome h1 {
    animation: welcome-h1 forwards var(--welcome-animation-time);
}

.touch .welcome svg {
    animation: welcome-svg forwards var(--welcome-animation-time);
}

.touch .welcome path {
    animation: welcome-path forwards var(--welcome-animation-time);
}

@media only screen and (min-width: 900px) {
    @keyframes welcome-svg {
        from {
            right: -80px;
            opacity: 0;
        }
    
        to {
            right: -100px;
            opacity: 1;
        }
    }    

    .welcome h1 {
        font-size: 100px;
    }

    .welcome svg {
        width: 120px;
        right: -80px;
    }
}

/*list container*/

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/*detail container*/

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detail > div:first-child {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-img {
    width: 80%;
    margin-bottom: 30px;
}

@media only screen and (min-width: 900px) {
    .detail {
        flex-direction: row;
    }

    .detail-img {
        margin: 0;
    }
}

/*cart*/

.title {
    width: 100%;
    display: flex;
    align-items: center;
}

.title::before {
    content: '';
    flex: 1 1 0;
}

.title > div {
    flex: 1 1 0;
    display: flex;
    justify-content: start;
}

.title h1 {
    padding: 0 30px;
    flex: 0 1 0;
}

.title .img-button {
    width: 36px;
    height: 36px;
}

.cart-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.cart-item.long {
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    padding: 20px 5% 20px 2%;
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.long a,
.long p {
    margin: 0;
}

.long > a {
    width: 160px;
    height: 120px;
}

.long .cart-img {
    height: 100%;
}

.long > div {
    height: 100%;
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.long > div::after {
    content: '';
    width: 0;
}

.long .cart-name {
    width: 40%;
    height: 100%;
    /* padding-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.long .cart-name span {
    text-align: center;
    font-size: 20px;
    transition: all var(--animation-time);
}

.long .counter {
    width: 240px;
    height: 50px;
}

.long .cart-price {
    text-align: end;
    width: 120px;
}

.cart-total {
    font-size: 20px;
    text-align: end;
    box-sizing: border-box;
    width: 100%;
}

.cart-total span {
    font-weight: bold;
}

@media only screen and (min-width: 350px) {
    .cart-total {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .cart-total {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .cart-list {
        flex-direction: column;
    }

    .cart-total {
        padding-right: 5%;
    }
}

/*checkout*/

.checkout form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout section > div {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout label {
    text-align: start;
    font-size: 20px;
    width: 100%;
    padding-bottom: 10px;
}

.checkout input, .checkout .select {
    text-align: center;
    margin-bottom: 50px;
    transition: all var(--animation-time);
}

.checkout input.incorrect {
    box-shadow: 0 0 10px red;
}

.checkout input + div p {
    text-align: center;
    font-size: 15px;
    color: red;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 18px;
    left: 0;
    opacity: 0;
    transition: opacity var(--animation-time);
}

.checkout input + div svg,
.checkout .select + div svg {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 75px;
    right: -30px;
    translate: 0 50%;
    opacity: 0;
    transition: opacity var(--animation-time);
}

.checkout input + div path,
.checkout .select + div path {
    stroke-width: 20px;
}

.incorrect p, .correct svg {
    opacity: 1 !important;
}

#country,
#country + ul li {
    justify-content: space-between;
}

#country + ul {
    z-index: 1;
}

.flag,
#country::after,
#country + ul li::after {
    content: '';
    width: 30px;
}

.checkout .buttons {
    margin-top: 40px;
}

@media only screen and (min-width: 900px) {
    .checkout h2 {
        align-self: start;
    }

    .checkout section {
        flex-direction: row;
    }

    .checkout section > div {
        width: 40%;
    }

    .checkout label {
        text-align: center;
    }
}

/*alert*/

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        transform: scale(0.5)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes shrink {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0.9)
    }
}

@keyframes rotate {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    backdrop-filter: blur(5px);
    animation: fade-in var(--animation-time);
}

.backdrop.unmount {
    animation: fade-out var(--animation-time);
}

/*hover, click, active and focus*/

:is(.mouse .toggle-svg:hover,
    .mouse svg:hover,
    .logo.active:not(.plain),
    .cart-widget.active,
    .img-button:hover,
    .slide.hidden:hover
) stop:first-child {
    stop-color: cyan;
}

:is(.mouse .toggle-svg:hover,
    .mouse svg:hover,
    .logo.active:not(.plain),
    .cart-widget.active,
    .img-button:hover,
    .slide.hidden:hover
) stop:last-child {
    stop-color: magenta;
}

.mouse button:hover .red-gradient stop {
    stop-color: red !important;
}

.mouse button.gradient-text:hover,
.mouse .welcome div:hover .gradient-text {
    color: transparent;
}

.mouse nav li:hover .gradient-text,
nav li .active .gradient-text {
    font-size: 30px;
    color: transparent;
}

.mouse .cart-widget:hover .gradient-text {
    color: transparent;
    opacity: 0;
}

.cart-widget.active .gradient-text {
    color: transparent;
}

.mouse .cart-widget:hover #arrow {
    left: 50%;
    opacity: 1;
}

.text-input input:focus::placeholder {
    color: transparent;
}

.mouse .welcome div:hover svg {
    right: -70px;
    opacity: 1;
}

@media only screen and (min-width: 900px) {
    .mouse .welcome div:hover svg {
        right: -100px;
    }
}

.mouse .welcome div:hover path {
    stroke: magenta;
}

.mouse :is(.item:hover,
    .cart-item.square:hover,
    .long .cart-name:hover,
    .long a:hover + div
) .gradient-text {
    color: transparent;
}

.mouse .item:hover,
.mouse .cart-item.square:hover {
    width: 240px;
    height: 240px;
    margin: 0;
}

.mouse .item:hover h2,
.mouse .item:hover p,
.mouse .cart-item:hover h2,
.mouse .cart-item.square:hover p {
    font-size: 20px;
}

.mouse .cart-item.square:hover .img-button {
    width: 28.8px;
    height: 28.8px;
    margin: -2.4px;
}

@media only screen and (min-width: 350px) {
    .mouse .item:hover,
    .mouse .cart-item.square:hover {
        width: 300px;
        height: 300px;
        margin: -5px 0;
    }
    
    .mouse .item:hover h2,
    .mouse .item:hover p,
    .mouse .cart-item:hover h2,
    .mouse .cart-item.square:hover p {
        font-size: 25px;
    }

    .mouse .cart-item.square:hover .img-button {
        width: 36px;
        height: 36px;
        margin: -3px;
    }
}

@media only screen and (min-width: 450px) {
    .mouse .item:hover,
    .mouse .cart-item.square:hover {
        width: 360px;
        height: 360px;
        margin: -10px;
    }
    
    .mouse .item:hover h2,
    .mouse .item:hover p,
    .mouse .cart-item:hover h2,
    .mouse .cart-item.square:hover p {
        font-size: 30px;
    }

    .mouse .cart-item.square:hover .img-button {
        width: 43.2px;
        height: 43.2px;
        margin: -3.6px;
    }
}

@media only screen and (min-width: 600px) {
    .mouse .cart-item.square:hover .img-button {
        width: 48px !important;
        height: 48px !important;
        margin: -4px;
    }
}

.mouse .long .cart-name:hover span,
.mouse .long a:hover + div .cart-name span {
    font-size: 24px;
}

.mouse .select li:hover {
    background-color: #DDDDDD;
}

.mouse .dark .select li:hover {
    background-color: #333333;
}

/*dark*/

.overscroll.dark,
.dark .alert,
.dark .select ul {
    background-color: black;
}

.dark stop {
    stop-color: white;
}

.dark path:not(.fill-path, .gradient-path, .green-path) {
    stroke: white;
}

.dark .fill-path:not(.gradient-path) {
    fill: white;
}

.dark #clock circle {
    fill: black;
}

nav.dark a,
.dark button,
button.dark,
.backdrop.dark,
.list-container.dark .item,
.dark .search input,
.cart.dark a,
.dark .slide,
.dark .text-input input,
.dark .select div {
    color: white;
}

.dropdown.dark,
.dark .recap-total {
    border-color: white;
}

.footer.dark {
    color: white;
    background-color: black;
}

.dark .theme-toggle {
    box-shadow: 0 0 5px white inset;
}

.dark .theme-toggle div {
    left: 35px;
    box-shadow: 0 0 5px white inset;
}

.dark .theme-toggle .sun {
    opacity: 0;
}

.footer:not(.dark) .theme-toggle .sun {
    transition: opacity calc(3 * var(--animation-time));
}

.dark .theme-toggle .moon {
    opacity: 1;
    transition: opacity calc(3 * var(--animation-time));
}

.body.dark {
    color: white;
    background-color: black;
}

.dark .square {
    background-image: radial-gradient(circle, #333333 0, transparent 100%);
}

.dark .shadowed,
.dark.shadowed {
    box-shadow: 0 0 7px white inset;
}

.dark .radio-input input,
.dark .checkbox-input input {
    box-shadow: 0 0 5px white inset;
}

.dark #low-bound {
    box-shadow: 0 0 5px white inset;
}

.dark .radio-input input:checked,
.dark .checkbox-input input:checked {
    background-color: white;
}

.dark ::-webkit-slider-thumb {
    background-color: black;
    box-shadow: 0 0 5px white inset;
}

.dark ::-moz-range-thumb {
    background-color: black;
    box-shadow: 0 0 5px white inset;
}