@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    font-family: 'Jost', sans-serif;
    user-select: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

/*text*/

h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 25px;
}

p, a {
    font-size: 20px;
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 50px;
    }
}

h1, h2, p, a {
    transition: color 0.3s, font-size 0.3s;
}

.red {
    color: red;
}

a {
    color: black;
    text-decoration: none;
}

.loaded {
    opacity: 1 !important;
}

/*button*/

button {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.text-button {
    font-size: 13.3px;
    height: 33.3px;
    padding: 0 10px;

}

.img-button {
    width: 24px;
    height: 24px;
    padding: 25%;
}

@media only screen and (min-width: 350px) {
    .text-button {
        font-size: 16.7px;
        height: 41.7px;
    }

    .img-button {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 450px) {
    .text-button {
        font-size: 20px;
        height: 50px;
    }

    .img-button {
        width: 36px;
        height: 36px;
    }
}

@media only screen and (min-width: 600px) {
    .img-button {
        width: 40px;
        height: 40px;
    }
}

.img-button img {
    width: 100%;
    display: block;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
}

.buttons div {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edge div:first-child {
    justify-content: flex-start;
}

.edge div:last-child {
    justify-content: flex-end;
}

.stacked {
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.stacked div {
    flex: 0 1 auto;
}

.buttons div:only-child {
    justify-content: center;
    align-self: center;
}

@media only screen and (min-width: 900px) {
    .stacked {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    
    .stacked div {
        flex: 1 1 0;
    }    
}

/*counter*/

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count {
    text-align: center;
    font-size: 16.7px;
    width: 5%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 350px) {
    .count {
        font-size: 20.8px;
    }
}

@media only screen and (min-width: 450px) {
    .count {
        font-size: 25px;
    }
}

/*shadowed box*/

.shadowed {
    box-shadow: 0 0 10px grey;
}

/*input*/

.text-input input, .email-input input, .search-input input {
    background-color: transparent;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.text-input input::placeholder, .email-input input::placeholder, .search-input input::placeholder {
    transition: color 0.2s;
}

.radio-input, .checkbox-input {
    display: flex;
    align-items: center;
}

.radio-input label, .radio-input input {
    cursor: pointer;
}

.radio-input input, .checkbox-input input {
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0 10px 0 0;
    border-radius: 50%;
    outline: none;
    flex-shrink: 0;
    flex-grow: 0;
    order: -1;
    appearance: none;
    transition: background-color 0.3s;
}

.checkbox-input input {
    border-radius: 3px;
}

.radio-input input:checked, .checkbox-input input:checked {
    background-color: black;
}

.range-input label {
    display: block;
}

.range-input input {
    background-color: transparent;
    height: 7px;
    border-radius: 3.5px;
    outline: none;
    appearance: none;
}

::-webkit-slider-thumb {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
    appearance: none;
}

/*img*/

/* img {
    -webkit-user-drag: none;
} */

.item-img, .detail-img, .cart-img {
    opacity: 0;
    transition: opacity 0.3s;
}

/*navbar and footer*/

nav, .footer {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    transition: background-color 0.3s;
}

nav {
    position: fixed;
}

.logo {
    width: 40px;
    position: relative;
}

.logo img {
    width: 100%;
    display: block;
    transition: filter 0.3s;
}

:not(.dark) > .logo::after {
    content: '';
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0, transparent 100%);
    width: 30px;
    height: 70px;
    position: absolute;
    top: -10%;
    left: 110%;
    rotate: 20deg;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

nav ul {
    list-style: none;
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    text-align: center;
    flex-grow: 1;
}

nav ul a {
    font-size: 20px;
    display: block;
    width: 100%;
    transition: all 0.3s;
}

.cart-widget {
    width: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.3s;
}

.cart-widget img {
    width: 100%;
    transition: filter 0.3s;
}

.cart-widget p {
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    position: absolute;
    z-index: 1;
    transition: color 0.3s;
}

p.long {
    font-size: 20px;
    padding-bottom: 15px;
}

p.overlong {
    font-size: 14px;
}

.menu {
    width: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown {
    width: 100%;
    height: 332px;
    padding-right: 5%;
    border: solid black;
    border-width: 1px 0;
    top: 100px;
    z-index: 1;
    justify-content: flex-end;
    overflow: hidden;
    transition: all 0.3s;
}

.dropdown.hidden {
    height: 0;
    border-width: 0;
}

.dropdown ul {
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown ul li {
    display: flex;
    align-items: center;
}

.footer {
    padding-bottom: 20px;
    position: relative;
    justify-content: space-between;
    align-items: end;
}

.footer p {
    font-size: 13.3px;
    margin: 0;
}

@media only screen and (min-width: 350px) {
    .footer p {
        font-size: 16.7px;
    }
}

@media only screen and (min-width: 450px) {
    .footer p {
        font-size: 20px;
    }
}

.footer > div, .footer::after {
    flex: 1 1 0;
}

.footer::after {
    content: '';
}

.toggle {
    background-color: white;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px grey;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle div {
    background-color: white;
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    left: 3px;
    box-shadow: 0 0 10px grey inset;
    transition: left 0.3s;
}

/* .toggle.dark {
    box-shadow: 0 0 5px white inset;
}

.dark.toggle div {
    box-shadow: 0 0 5px white inset;
    background-color: black;
} */

.toggle img {
    width: 30%;
    position: absolute;
}

.sun {
    left: 5px;
    opacity: 0;
}

.moon {
    left: 37px;
}

/*body*/

.body {
    background-color: white;
    box-sizing: border-box;
    min-height: calc(100% - 100px);
    padding: 150px 5% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

/*loading*/

@keyframes loading {
    0% {
        height: 20px;
    }

    50% {
        height: 100px;
    }

    100% {
        height: 20px;
    }
}

.loading {
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.loader div {
    height: 100%;
    width: 0;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    height: 20px;
    animation: 0.6s ease-in-out infinite forwards loading;
}

.loader div:nth-child(2) img, .loader div:nth-child(8) img {
    animation-delay: -0.5s;
}

.loader div:nth-child(3) img, .loader div:nth-child(9) img {
    animation-delay: -0.4s;
}

.loader div:nth-child(4) img, .loader div:nth-child(10) img {
    animation-delay: -0.3s;
}

.loader div:nth-child(5) img, .loader div:nth-child(11) img {
    animation-delay: -0.2s;
}

.loader div:nth-child(6) img, .loader div:nth-child(12) img {
    animation-delay: -0.1s;
}

/*welcome*/

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }
}

.welcome h1 {
    font-size: 70px;
    background-image: linear-gradient(159deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-image: linear-gradient(159deg, rgba(50,38,216,1) 0%, rgba(131,58,180,1) 14%, rgba(253,29,29,1) 50%, rgba(252,180,69,1) 79%, rgba(130,252,69,1) 100%);
    background-image: linear-gradient(90deg, rgba(50,38,216,1) 0%, rgba(124,0,207,1) 11%, rgba(234,0,0,1) 32%, rgba(255,132,0,1) 47%, rgba(239,229,0,1) 57%, rgba(85,255,0,1) 68%, rgba(0,255,229,1) 82%, rgba(50,38,216,1) 100%);
    background-size: 1000%;
    background-repeat: repeat-x;
    background-clip: text;
    color: transparent;
    animation: 30s infinite forwards gradient;
}

.welcome div {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.welcome h2 {
    font-size: 50px;
}

.welcome img {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 75px;
    opacity: 0;
    transition: all 0.8s;
}

@media only screen and (min-width: 900px) {
    .welcome h1 {
        font-size: 100px;
    }
}

/*list and detail container*/

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.square {
    box-sizing: content-box;
    width: 200px !important;
    height: 200px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.item {
    opacity: 0;
}

.item h2, .item p {
    font-size: 16.7px;
    text-align: center;
    height: 25%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.item h2 {
    line-height: 100%;
}

.item-img {
    height: 45%;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detail > div:first-child {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-img {
    width: 80%;
    margin-bottom: 30px;
}

.detail .square > p {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-description {
    font-size: 13.3px;
    width: 90%;
    height: 30%;
}

.detail-price {
    font-size: 20px;
    height: 20%;
}

.detail-container .counter {
    width: 60%;
    height: 20%;
}

.counter-text {
    font-size: 13.3px;
    height: 20%;
}

.detail-container .buttons {
    height: 16.7%;
}

@media only screen and (min-width: 350px) {
    .square {
        width: 250px !important;
        height: 250px;
    }

    .item h2, .item p {
        font-size: 20.8px;
    }

    .detail-description, .counter-text {
        font-size: 16.7px;
    }

    .detail-price {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .square {
        width: 300px !important;
        height: 300px;
        margin: 20px;
    }

    .item h2, .item p {
        font-size: 25px;
    }

    .detail-description, .counter-text {
        font-size: 20px;
    }

    .detail-price {
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .detail .square, .alert, .popup {
        width: 350px !important;
        height: 350px;
    }
}

@media only screen and (min-width: 900px) {
    .detail {
        flex-direction: row;
    }

    .detail-img {
        margin: 0;
    }
}

/*slide*/

.slide {
    background-color: inherit;
    box-sizing: content-box !important;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 25px;
    position: fixed;
    left: 2%;
    z-index: 2;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.3s, height 0.3s, padding 0.3s;
}

.slide img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: rotate 0.3s;
}

.search {
    top: 110px;
    padding: 0 10px;
    align-items: center;
}

.search.hidden {
    padding: 10px;
}

.search input {
    width: 300px;
    margin-left: 10px;
}

.filter {
    top: 170px;
    flex-direction: column;
}

.filter > div {
    width: 200px;
}

.filter h2, .filter label {
    text-wrap: nowrap;
}

.filter .range-input div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#low-bound, #high-bound {
    width: 80%;
    position: absolute;
}

#low-bound {
    background-color: black;
}

#high-bound {
    z-index: 1;
}

.recap {
    top: 110px;
    flex-direction: column;
}

.recap-item {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.recap-total {
    width: 300px;
    text-align: end;
    border-top: 1px solid black;
    transition: border-color 0.3s;
}

.recap p {
    margin-bottom: 0;
}

/*cart*/

.title {
    width: 100%;
    display: flex;
    align-items: center;
}

.title::before {
    content: '';
    flex: 1 1 0;
}

.title > div {
    flex: 1 1 0;
    display: flex;
    justify-content: start;
}

.title h1 {
    padding: 0 30px;
    flex: 0 1 0;
}

.cart-item {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 5%;
    margin-bottom: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item > a {
    width: 20%;
}

.cart-img {
    width: 100%;
}

.cart-item > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-name {
    font-size: 13.3px;
    text-align: center;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.cart-item .counter {
    width: 70%;
    height: 50px;
}

.cart-price {
    font-size: 16.7px;
    text-align: end;
    width: 20%;
}

.cart-total {
    font-size: 20px;
    text-align: end;
    box-sizing: border-box;
    width: 100%;
    padding-right: 5%;
}

.cart-total span {
    font-weight: bold;
}

@media only screen and (min-width: 350px) {
    .cart-name {
        font-size: 16.7px;
    }

    .cart-price {
        font-size: 20.8px;
    }

    .cart-total {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .cart-name {
        font-size: 20px;
    }

    .cart-price {
        font-size: 25px;
    }

    .cart-total {
        font-size: 30px;
    }
}

@media only screen and (min-width: 900px) {
    .cart-item > a {
        width: 10%;
    }

    .cart-item > div {
        width: 80%;
        flex-direction: row;
    }

    .cart-name {
        width: 40%;
        height: auto;
    }

    .cart-item .counter {
        width: 40%;
    }    

    .cart-price {
        width: 10%;
    }
}

/*checkout*/

.checkout form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout section div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout label {
    text-align: start;
    font-size: 20px;
    width: 100%;
    padding-bottom: 10px;
}

.checkout input {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.checkout input.incorrect {
    box-shadow: 0 0 10px red;
}

.checkout input + p {
    color: red;
    position: fixed;
}

.checkout input + img {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 45px;
    right: 20px;
    translate: 0 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.checkout input:valid + img {
    opacity: 1;
}

.checkout .buttons {
    margin-top: 40px;
}

@media only screen and (min-width: 900px) {
    .checkout h2 {
        align-self: start;
    }

    .checkout section {
        flex-direction: row;
    }

    .checkout section div {
        width: 37.5%;
    }

    .checkout label {
        text-align: center;
    }
}

/*alert*/

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        transform: scale(0.5)
    }

    30% {
        transform: scale(1.05)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes shrink {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0.9)
    }
}

@keyframes rotate {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(5px);
    animation: fade-in 0.3s;
}

.backdrop.unmount {
    animation: fade-out 0.3s;
}

.alert {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: grow 0.3s;
}

.unmount .alert {
    animation: shrink 0.3s;
}

.icon {
    width: 30%;
    height: 30%;
    margin-top: 5%;
    border: 6px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 60%;
    height: 60%;
    animation: rotate 0.7s;
}

/*hover, click, active and focus*/

:not(.dark) > .logo:hover::after {
    left: 45%;
    opacity: 1;
}

.dark .logo img:hover {
    filter: invert(0%) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

nav ul li:hover a, nav ul li:focus a, .cart-widget:hover {
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.menu:hover {
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.dark .menu:hover {
    filter: invert(100%) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

nav ul li:hover a, nav ul li:focus a, nav ul a.active {
    font-size: 30px;
}

.clockwise {
    rotate: 90deg;
}

.counterclockwise {
    rotate: -90deg;
}

.text-input input:focus::placeholder {
    color: transparent;
}

.welcome div:hover img {
    left: 85px;
    opacity: 1;
}

.item:hover {
    width: 240px !important;
    height: 240px;
    margin: 0;
}

.item:hover h2, .item:hover p {
    font-size: 20px;
}

@media only screen and (min-width: 350px) {
    .item:hover {
        width: 300px !important;
        height: 300px;
        margin: -5px 0;
    }
    
    .item:hover h2, .item:hover p {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) {
    .item:hover {
        width: 360px !important;
        height: 360px;
        margin: -10px;
    }
    
    .item:hover h2, .item:hover p {
        font-size: 30px;
    }
}

.cart-item .cart-name:hover, .cart-item a:hover + div .cart-name {
    font-size: 25px;
}

.text-button:hover {
    font-size: 16px;
}

@media only screen and (min-width: 350px) {
    .text-button:hover {
        font-size: 20px;
    }
}

@media only screen and (min-width: 450px) {
    .text-button:hover {
        font-size: 24px;
    }
}

.img-button:hover {
    width: 40px;
    height: 40px;
    margin: -2.5px;
}

@media only screen and (min-width: 600px) {
    .img-button:hover {
        width: 50px;
        height: 50px;
        margin: -5px;
    }
}

/*dark*/

nav.dark a {
    color: white;
}

nav.dark img {
    filter: invert(100%);
}

.dropdown.dark {
    border-color: white;
}

.footer.dark {
    color: white;
    background-color: black;
}

.toggle.dark {
    background-color: black;
}

.toggle.dark div {
    left: 32px;
}

.toggle.dark .sun {
    opacity: 1;
    transition: opacity 1s;
}

.toggle.dark .moon {
    opacity: 0;
}

.toggle:not(.dark) .moon {
    transition: opacity 1s;
}

.body.dark {
    color: white;
    background-color: black;
}

.dark .square {
    background-image: radial-gradient(circle, #333333 0, transparent 100%);
}

.dark button, button.dark {
    color: white;
}

.welcome.dark img, .dark button:not(.red) img, .dark .slide img, .dark .loader img {
    filter: invert(100%);
}

.list-container.dark .item, .dark .search input, .cart.dark a {
    color: white;
}

.dark .shadowed, .dark.shadowed {
    box-shadow: 0 0 7px white inset;
}

.dark .slide, .dark .text-input input {
    color: white;
}

.dark .radio-input input:checked, .dark .checkbox-input input:checked {
    background-color: white;
}

.dark ::-webkit-slider-thumb {
    background-color: black;
    box-shadow: 0 0 5px white inset;
}

.dark #low-bound {
    background-color: white;
}

.dark .recap-total {
    border-color: white;
}

.backdrop.dark {
    color: white;
}

.dark .alert {
    background-color: black;
}